* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
    background-color: burlywood;
}

#layout {
    max-width: 800px;
    margin: 48px auto;
    text-align: center;
}

img {
    width: 100%;
    border: 10px solid plum;
}

.horizontal-masonry-gallery {
    border: 10px solid goldenrod;
    background-color: rgb(132, 12, 36);
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    img {
        height: 250px;
        flex: 1;
        object-fit: cover;
        border: 10px solid rgb(250, 234, 129);
    }
  
}