* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

#two-columns {
    display: flex;
    height: 100vh;
}

#sidebar {
    background-color: lightblue;
    width: 200px;
    padding: 24px;
    border-right: 2px solid lightcoral;
    flex: 1;
}
#main {
    padding: 48px;
    flex: 1;
}